<h1 id="locations">FIND US AT</h1>
<div class="adress">
  <img src="./../../../../img/4_section_find_us_at/PNG/map_marker.png" alt="" />
  <p>Kapuzinerstrasse 31, Münschen, 80337</p>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5326.416306515273!2d11.558628377662282!3d48.1255090712421!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf44d01affc5%3A0xe7a07e0710be63e8!2sKapuzinerstra%C3%9Fe%2031%2C%2080337%20M%C3%BCnchen%2C%20Deutschland!5e0!3m2!1sde!2sch!4v1737969459024!5m2!1sde!2sch"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
<div class="footer">
  <img class="title"
    src="./../../../../img/5_section_footer/PNG/sakura_ramen_logo_and_text.png"
    alt=""
  />
  <div class="icons">
    <img src="./../../../../img/5_section_footer/PNG/tripadvisor_logo.png" alt="" />
    <img src="./../../../../img/5_section_footer/PNG/instagrram_logo.png" alt="" />
    <img src="./../../../../img/5_section_footer/PNG/facebook_logo.png" alt="" />
    <a href="imprint">Impressum</a>
  </div>
</div>
