<body id="menu">
  <h1>OUR MENU</h1>
  <div class="tonkotsu-ramen">
    <img src="img/3_section_our_menu/Png/R1.png" alt="" />
    <div class="dish-container">
      <h2 class="fontEconomica">Tonkotsu Ramen</h2>
      <ul>
        <li>
          <div class="selection">
            <p>CHICKEN</p>
            <p>11.95€</p>
          </div>
          <br />
          <div class="selection">
            <p>BEEF</p>
            <p>12.95€</p>
          </div>
          <br />
          <div class="selection">
            <p>SHRIMP</p>
            <p>13.95€</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="spycy-miso-ramen">
    <div class="dish-container">
      <h2 class="fontEconomica">Spycy Miso Ramen</h2>
      <ul>
        <li>
          <div class="selection">
            <p>CHICKEN</p>
            <p>11.95€</p>
          </div>
          <div class="selection">
            <p>BEEF</p>
            <p>12.95€</p>
          </div>
          <div class="selection">
            <p>SHRIMP</p>
            <p>13.95€</p>
          </div>
        </li>
      </ul>
    </div>
    <img src="img/3_section_our_menu/Png/R2.png" alt="" />
  </div>
  <div class="shio-ramen">
    <img src="img/3_section_our_menu/Png/R3.png" alt="" />
    <div class="dish-container">
      <h2 class="fontEconomica">Shio Ramen</h2>
      <ul>
        <li>
          <div class="selection">
            <p>CHICKEN</p>
            <p>11.95€</p>
          </div>
          <br />
          <div class="selection">
            <p>BEEF</p>
            <p>12.95€</p>
          </div>
          <br />
          <div class="selection">
            <p>SHRIMP</p>
            <p>13.95€</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</body>

